/*FONTES*/
body {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
  line-height: 1; }

.tabela > table {
  color: white; }
  .tabela > table > thead > tr > th {
    text-align: center; }
  .tabela > table > tbody > tr:hover {
    background-color: rgba(255, 255, 255, 0.4); }
  .tabela > table > tbody > tr > td {
    text-align: center;
    vertical-align: middle; }
    .tabela > table > tbody > tr > td > span {
      display: inline-block; }
      .tabela > table > tbody > tr > td > span.administrador {
        width: 48px;
        height: 48px;
        background-position-x: -10px;
        background-position-y: -10px; }
      .tabela > table > tbody > tr > td > span.usuario {
        width: 48px;
        height: 48px;
        background-position-x: -10px;
        background-position-y: -78px; }
    .tabela > table > tbody > tr > td > button {
      margin-right: 10px;
      width: 60px;
      height: 35px;
      border: none;
      border-radius: 5px; }
      .tabela > table > tbody > tr > td > button > span {
        display: inline-block;
        position: relative;
        transition: 0.5s top linear; }
      .tabela > table > tbody > tr > td > button:hover {
        filter: brightness(85%); }
    .tabela > table > tbody > tr > td > .editar {
      background-color: #fbc531;
      color: black; }
    .tabela > table > tbody > tr > td > .cancelar {
      background-color: #e84118;
      color: white; }
    .tabela > table > tbody > tr > td > .detalhes {
      background-color: #40739e;
      color: white; }

.Caixa-Cadastro .form-group {
  margin-top: 20px; }
  .Caixa-Cadastro .form-group .form-control {
    margin-bottom: 20px;
    border-radius: 0px;
    height: 45px;
    font-weight: 700; }
    .Caixa-Cadastro .form-group .form-control:focus {
      background-color: #ced6e0; }
  .Caixa-Cadastro .form-group .cadastro {
    width: 33.33%;
    margin: auto; }
    .Caixa-Cadastro .form-group .cadastro > input {
      text-align: center; }
  .Caixa-Cadastro .form-group .nome {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .Caixa-Cadastro .form-group .nome {
        float: left;
        width: 66.6666666667%; } }
  .Caixa-Cadastro .form-group .dataChegada {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .Caixa-Cadastro .form-group .dataChegada {
        float: left;
        width: 16.6666666667%; } }
  .Caixa-Cadastro .form-group .dataPrevisao {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .Caixa-Cadastro .form-group .dataPrevisao {
        float: left;
        width: 16.6666666667%; } }
  .Caixa-Cadastro .form-group .telefone {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .Caixa-Cadastro .form-group .telefone {
        float: left;
        width: 33.3333333333%; } }
  .Caixa-Cadastro .form-group .cep {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .Caixa-Cadastro .form-group .cep {
        float: left;
        width: 16.6666666667%; } }
  .Caixa-Cadastro .form-group .logradouro {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .Caixa-Cadastro .form-group .logradouro {
        float: left;
        width: 33.3333333333%; } }
  .Caixa-Cadastro .form-group .numero {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .Caixa-Cadastro .form-group .numero {
        float: left;
        width: 16.6666666667%; } }
  .Caixa-Cadastro .form-group .Comp {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .Caixa-Cadastro .form-group .Comp {
        float: left;
        width: 16.6666666667%; } }
  .Caixa-Cadastro .form-group .bairro {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .Caixa-Cadastro .form-group .bairro {
        float: left;
        width: 16.6666666667%; } }
  .Caixa-Cadastro .form-group .tipo-atendimento {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .Caixa-Cadastro .form-group .tipo-atendimento {
        float: left;
        width: 33.3333333333%; } }
  .Caixa-Cadastro .form-group .tipo-equipamento {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .Caixa-Cadastro .form-group .tipo-equipamento {
        float: left;
        width: 33.3333333333%; } }
  .Caixa-Cadastro .form-group .marca {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .Caixa-Cadastro .form-group .marca {
        float: left;
        width: 16.6666666667%; } }
  .Caixa-Cadastro .form-group .modelo {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .Caixa-Cadastro .form-group .modelo {
        float: left;
        width: 16.6666666667%; } }
  .Caixa-Cadastro .form-group .descricao {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .Caixa-Cadastro .form-group .descricao {
        float: left;
        width: 50%; } }
    .Caixa-Cadastro .form-group .descricao > textarea {
      resize: none; }
  .Caixa-Cadastro .form-group .serv-realizado {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .Caixa-Cadastro .form-group .serv-realizado {
        float: left;
        width: 50%; } }
    .Caixa-Cadastro .form-group .serv-realizado > textarea {
      resize: none; }
  .Caixa-Cadastro .form-group .backup {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .Caixa-Cadastro .form-group .backup {
        float: left;
        width: 16.6666666667%; } }
  .Caixa-Cadastro .form-group .valor {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .Caixa-Cadastro .form-group .valor {
        float: left;
        width: 16.6666666667%; } }
  .Caixa-Cadastro .form-group .status {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .Caixa-Cadastro .form-group .status {
        float: left;
        width: 16.6666666667%; } }

.informacoes-cliente {
  height: 50vh;
  position: relative; }
  .informacoes-cliente-voltar > button {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px; }
  .informacoes-cliente-item {
    color: rgba(255, 255, 255, 0.9); }
    .informacoes-cliente-item > h1 {
      font-size: 2em; }
  .informacoes-cliente-botao {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-left: 0px; }
    @media (min-width: 992px) {
      .informacoes-cliente-botao {
        float: left;
        width: 16.6666666667%; } }
    .informacoes-cliente-botao > button {
      margin-top: 30px;
      padding: 5px;
      width: 200px;
      height: 50px;
      font-size: 1.2em;
      background-color: steelblue;
      border: none;
      border-radius: 5px;
      color: #fff;
      transition: .5s;
      line-height: 2;
      left: 15px; }
      .informacoes-cliente-botao > button:hover {
        font-weight: 700;
        letter-spacing: 3px; }
      .informacoes-cliente-botao > button.voltar-pagina {
        background-color: #f44336;
        bottom: 0;
        margin-bottom: 10px;
        width: 100px;
        height: 30px;
        font-size: 1em;
        line-height: 0; }
.informacoes-mapa {
  display: none;
  opacity: 1; }
  .informacoes-mapa-item {
    border-radius: 10px;
    height: 50vh;
    width: 100%;
    background-color: green; }

body {
  height: 100vh;
  background-image: url(../imagens/manutecao_topo.png);
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  body > header {
    margin: 0px;
    padding: 15px 0;
    position: relative; }
    body > header > .content {
      margin-left: -15px;
      margin-right: -15px;
      margin-top: 20px; }
      body > header > .content:before, body > header > .content:after {
        content: " ";
        display: table; }
      body > header > .content:after {
        clear: both; }
      body > header > .content > .logo-container {
        position: relative;
        float: left;
        width: 33.3333333333%;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px; }
        @media (min-width: 992px) {
          body > header > .content > .logo-container {
            float: left;
            width: 33.3333333333%; } }
        body > header > .content > .logo-container > img {
          width: 100%; }
        body > header > .content > .logo-container h1 {
          color: #fff;
          text-align: center; }
      body > header > .content > .menu {
        position: relative;
        float: left;
        width: 66.6666666667%;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        /*@include make-xs-column(8);
        @include make-md-column(6);
        
        ul {
            li {
                list-style: none;
                a {
                    img {
                        height: 48px;
                        width: 48px;
                        border-radius: 48px;
                    }
                }
            }
        }*/ }
        @media (min-width: 992px) {
          body > header > .content > .menu {
            float: left;
            width: 50%; } }
        @media (min-width: 992px) {
          body > header > .content > .menu {
            margin-left: 16.6666666667%; } }
        body > header > .content > .menu ul {
          padding-left: 0px;
          float: right !important; }
          body > header > .content > .menu ul > li {
            list-style: none;
            display: inline-block;
            margin: 0 20px 0 0; }
            body > header > .content > .menu ul > li > ul.dropdown-menu {
              background-color: transparent; }
              body > header > .content > .menu ul > li > ul.dropdown-menu > li {
                border: 3px solid #333;
                border-radius: 5px;
                margin-bottom: 5px;
                width: 100%;
                background-color: #fff; }
                body > header > .content > .menu ul > li > ul.dropdown-menu > li > a {
                  color: #000;
                  line-height: 1.8;
                  padding: 3px 5px;
                  /* &:before {
                      content: "";
                      display: block;
                      width: 100%;
                      height: 3px;
                      background: #fff;
                      position: absolute;
                      left: 0;
                      bottom: 10px;
                  }*/ }
                  body > header > .content > .menu ul > li > ul.dropdown-menu > li > a > span {
                    float: left;
                    margin-right: 5px; }
                    body > header > .content > .menu ul > li > ul.dropdown-menu > li > a > span.atendimento-novo {
                      width: 24px;
                      height: 24px;
                      background-position-x: -4px;
                      background-position-y: -15px;
                      top: 5.5px; }
                    body > header > .content > .menu ul > li > ul.dropdown-menu > li > a > span.atendimento-lista {
                      width: 24px;
                      height: 24px;
                      background-position-x: -4px;
                      background-position-y: -83px;
                      top: 5.5px; }
                    body > header > .content > .menu ul > li > ul.dropdown-menu > li > a > span.cliente-novo {
                      width: 24px;
                      height: 24px;
                      background-position-x: -4px;
                      background-position-y: -148px;
                      top: 5.5px; }
                    body > header > .content > .menu ul > li > ul.dropdown-menu > li > a > span.cliente-lista {
                      width: 24px;
                      height: 24px;
                      background-position-x: -4px;
                      background-position-y: -83px;
                      top: 5.5px; }
                    body > header > .content > .menu ul > li > ul.dropdown-menu > li > a > span.usuario-novo {
                      width: 24px;
                      height: 24px;
                      background-position-x: -4px;
                      background-position-y: -218px;
                      top: 5.5px; }
                    body > header > .content > .menu ul > li > ul.dropdown-menu > li > a > span.usuario-lista {
                      width: 24px;
                      height: 24px;
                      background-position-x: -4px;
                      background-position-y: -83px;
                      top: 5.5px; }
                    body > header > .content > .menu ul > li > ul.dropdown-menu > li > a > span.logout-icon {
                      width: 24px;
                      height: 24px;
                      background-position-x: -4px;
                      background-position-y: -283px;
                      top: 5.5px; }
                  body > header > .content > .menu ul > li > ul.dropdown-menu > li > a > p {
                    margin: 0 20px 0; }
                  body > header > .content > .menu ul > li > ul.dropdown-menu > li > a:hover {
                    background-color: #333;
                    color: #fff;
                    transition: background-color .3s linear; }
                  body > header > .content > .menu ul > li > ul.dropdown-menu > li > a:hover > span.atendimento-novo {
                    width: 24px;
                    height: 24px;
                    background-position-x: -4px;
                    background-position-y: -49px;
                    top: 5.5px; }
                  body > header > .content > .menu ul > li > ul.dropdown-menu > li > a:hover > span.atendimento-lista {
                    width: 24px;
                    height: 24px;
                    background-position-x: -4px;
                    background-position-y: -117px;
                    top: 5.5px; }
                  body > header > .content > .menu ul > li > ul.dropdown-menu > li > a:hover > span.cliente-novo {
                    width: 24px;
                    height: 24px;
                    background-position-x: -4px;
                    background-position-y: -185px;
                    top: 5.5px; }
                  body > header > .content > .menu ul > li > ul.dropdown-menu > li > a:hover > span.cliente-lista {
                    width: 24px;
                    height: 24px;
                    background-position-x: -4px;
                    background-position-y: -117px;
                    top: 5.5px; }
                  body > header > .content > .menu ul > li > ul.dropdown-menu > li > a:hover > span.usuario-novo {
                    width: 24px;
                    height: 24px;
                    background-position-x: -4px;
                    background-position-y: -252px;
                    top: 5.5px; }
                  body > header > .content > .menu ul > li > ul.dropdown-menu > li > a:hover > span.usuario-lista {
                    width: 24px;
                    height: 24px;
                    background-position-x: -4px;
                    background-position-y: -117px;
                    top: 5.5px; }
                  body > header > .content > .menu ul > li > ul.dropdown-menu > li > a:hover > span.logout-icon {
                    width: 24px;
                    height: 24px;
                    background-position-x: -4px;
                    background-position-y: -314px;
                    top: 5.5px; }
            body > header > .content > .menu ul > li a {
              color: #fff;
              text-transform: uppercase; }
            body > header > .content > .menu ul > li:nth-child(4) {
              margin-right: 0; }
      body > header > .content > .titulo {
        color: #fff;
        margin: 10px auto 0 auto;
        text-transform: uppercase;
        text-align: center;
        padding: 10px;
        display: table;
        clear: both; }
      body > header > .content > h1 {
        color: #fff;
        margin: 60px auto 20px auto;
        border: 3px solid #fff;
        text-transform: uppercase;
        text-align: center;
        padding: 20px;
        display: table;
        clear: both; }

main .container > .content {
  margin-left: -15px;
  margin-right: -15px; }
  main .container > .content:before, main .container > .content:after {
    content: " ";
    display: table; }
  main .container > .content:after {
    clear: both; }
  main .container > .content > .areas .atendimento {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center; }
    @media (min-width: 992px) {
      main .container > .content > .areas .atendimento {
        float: left;
        width: 33.3333333333%; } }
    @media (min-width: 768px) {
      main .container > .content > .areas .atendimento {
        float: left;
        width: 33.3333333333%; } }
    main .container > .content > .areas .atendimento > a img {
      width: 200px;
      height: 200px;
      border-radius: 200px;
      filter: grayscale(100%);
      transition: 1.5s; }
    main .container > .content > .areas .atendimento > a:hover > img {
      filter: grayscale(0%);
      transform: rotate(360deg);
      transition: 1.5s; }
    main .container > .content > .areas .atendimento > p {
      margin-top: 15px;
      color: #fff;
      font-size: 2rem; }

body > footer {
  position: relative;
  clear: both;
  margin-top: 20px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  bottom: 0; }
  @media (min-width: 992px) {
    body > footer {
      float: left;
      width: 100%; } }
  body > footer > .logo-rodape {
    text-align: center; }
    body > footer > .logo-rodape > img {
      margin: 30px 0 0 0; }
    body > footer > .logo-rodape > p {
      margin: 0;
      font-size: 1rem;
      color: white;
      text-align: center; }

@media only screen and (max-width: 441px) {
  body > header > .content > .logo-container {
    text-align: center; }
  body > header > .content > .menu {
    display: none; }
  body > header > .content > h1 {
    clear: both;
    border: none;
    margin-top: 25%;
    text-transform: none;
    font-size: 24px; }
  body > main > .container .content .areas .atendimento {
    position: relative;
    float: left;
    width: 33.3333333333%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    body > main > .container .content .areas .atendimento > a img {
      width: 80px;
      height: 80px;
      border-radius: 80px; }
    body > main > .container .content .areas .atendimento > p {
      font-size: 1.5rem; }
  body > main > .container .content .Caixa-Cadastro .grupBotao {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    body > main > .container .content .Caixa-Cadastro .grupBotao > button {
      margin-top: 15px;
      margin-left: 0;
      width: 100% !important; }
  body footer {
    position: relative; } }
.login {
  margin: 15px auto; }
  .login .box-login {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center; }
    @media (min-width: 768px) {
      .login .box-login {
        float: left;
        width: 66.6666666667%; } }
    @media (min-width: 992px) {
      .login .box-login {
        float: left;
        width: 33.3333333333%; } }
    @media (min-width: 768px) {
      .login .box-login {
        margin-left: 16.6666666667%; } }
    @media (min-width: 992px) {
      .login .box-login {
        margin-left: 33.3333333333%; } }
    .login .box-login > h1 {
      color: white;
      text-align: center;
      margin-bottom: 30px;
      font-size: 36px; }
    .login .box-login > .form-group {
      margin-bottom: 30px;
      /*> .input-group {
      	border: none;
      	> .input-group-addon {
      		padding: 6px 12px;
      	    font-size: 14px;
      	    font-weight: normal;
      	    line-height: 1;
      	    color: #fff;
      	    text-align: center;
      	    background-color: transparent;
      	    border: 1px solid #fff;
      	}
      }*/ }
      .login .box-login > .form-group .form-control {
        text-align: center;
        height: 50.4px;
        font-size: 2rem;
        color: #fff;
        background-color: transparent;
        border: 1px solid #fff; }
        .login .box-login > .form-group .form-control:focus {
          color: #000;
          background-color: #ececec;
          border-color: green;
          outline: 10;
          -webkit-box-shadow: ouset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: ouset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
      .login .box-login > .form-group > button {
        margin-top: 15px;
        width: 70%;
        border-radius: 5px;
        background-color: transparent;
        color: #fff;
        padding: 10px 2px;
        transition: 0.5s; }
        .login .box-login > .form-group > button > i {
          padding-right: 5px; }
        .login .box-login > .form-group > button:hover {
          border: 2px solid green;
          background-color: green;
          color: #fff;
          transition: 0.5s; }

.menu_atendimento, body > header > .content > .menu ul > li > ul.dropdown-menu > li > a > span {
  background-image: url("../imagens/atendimento-sprite24full.png");
  background-repeat: no-repeat; }

.perfil_usuario, .tabela > table > tbody > tr > td > span {
  background-image: url("../imagens/perfils.png");
  background-repeat: no-repeat; }

.loader {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); }

.pequeno {
  padding: 7px;
  font-size: 18px; }

.medio {
  padding: 9px;
  font-size: 20px; }

.grande {
  padding: 11px;
  font-size: 22px; }

.botao {
  border: none;
  color: #000;
  font-weight: 700;
  transition: 0.3s; }

.grupBotao {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px; }
  @media (min-width: 992px) {
    .grupBotao {
      float: left;
      width: 66.6666666667%; } }
  @media (min-width: 992px) {
    .grupBotao {
      margin-left: 33.3333333333%; } }
  .grupBotao > button {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.5s;
    text-align: center;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    height: 50px;
    width: 175px !important;
    transition: 1s;
    color: #fff;
    font-size: 1.2rem;
    margin-right: 10px;
   			/*&:nth-child(2){
                margin-left: 20px;
            }
			/* padding: 20px;
			width: 200px;
			margin: 20px 10px 20px; */ }
    @media (min-width: 992px) {
      .grupBotao > button {
        float: left;
        width: 50%; } }
    .grupBotao > button:hover {
      opacity: 1;
      font-weight: 700;
      letter-spacing: 3px;
      transition: .5s; }
  .grupBotao .salvar {
    background-color: #52a0c1; }
  .grupBotao .cancelar {
    background-color: #c70020; }

/*# sourceMappingURL=style.css.map */
